html {
  font-family: sans-serif;
  background: #eee;
  padding: 1rem;
  min-height:100%;
}

body {
  min-width: 80%;
  max-width: 80%;
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: #377ba8;
  margin: 1rem 0;
}

a {
  color: #377ba8;
  display: block;
  padding: 8px;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: #333;
  align-items: left;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

.title-class {
  color: #377ba8;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid #333;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}
  
.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

.outsideWrapper{
  margin: auto;
  left: 0;
  right: 0;
  height: 500;
  border:1px solid blue;
}

.insideWrapper{ 
  width: 100%;
  height: 100%;
  position: relative;
}

.coveredImage{ 
  position:absolute;
}

.coveringCanvas{
  position:absolute; 
}

.uploadform{
  text-align: center;
  display: inline-block;
  margin-left:auto;
  margin-right:auto;

  width: 500px;
  height: 200px;
  border: 4px dashed rgb(73, 62, 124);
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1a9151;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #11683d;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}
