<!doctype html>
<head>
  <title>{% block title %}{% endblock %} - PyScanner</title>
  <link rel = 'stylesheet' href = "{{url_for('static', filename = 'style.css')}}">
</head>
<body>
  <section class = 'content'>
    <header>
      <nav>
        <ul>
          <li><span class = 'title-class'>Scanner</span></li>
          <li><a href = "{{url_for('loadImage')}}">Load Image</a></li>
          <li><a href = "{{url_for('filters')}}">Filters</a></li>
          <li><a href = "{{url_for('scan')}}">Scanned Image</a></li>
        </ul>
      </nav>
    </header>
    {% for message in get_flashed_messages() %}
      <div class = 'flash'>{{message}}</div>
    {% endfor %}
    <br>
    {% block content %}{% endblock %}
  </section>
</body>
